@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body {
    background-color: rgb(11, 11, 11);
    transition: all ease 0.5s;
}

.pomodoro-timer {
    margin-top: 60px;
    text-align: center;
    background-color: rgb(17, 17, 17);
    width: 65vh;
    border-radius: 10px;
}

.message-box {
    font: bold 12pt 'Roboto', sans-serif;
    color: white;
    margin-bottom: -90px;
    padding-top: 10px;
}

.timer h1 {
    font: bold 95pt 'Roboto', sans-serif;
    color: white;
    margin-bottom: 40px;
}

.timer button {
    background-color: rgb(22, 22, 22);
    color: white;
    font: normal 14pt 'Roboto', sans-serif;
    border: none;
    border-radius: 6px;
    padding: 16px;
    margin-right: 5px;
    margin-left: 5px;
    transition: all ease 0.3s;
}

.timer button:hover {
    background-color: rgb(43, 43, 43);
    transform: scale(1.1);
}

.timer input[type='text'] {
    width: 80%;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    font: normal 13pt 'Roboto', sans-serif;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 2px;
    color: rgb(148, 148, 148);
    transition: all ease 0.4s;
}

.timer input[type='text']:focus,
.timer input[type='text']:hover {
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
    box-shadow: 5px 3px 3px rgba(7, 7, 7, 0.829);
    transform: scale(1.1);
}

@media (max-width: 760px) {
    .pomodoro-timer {
        width: 95%;
    }

    .message-box {
        font-size: 10pt;
        margin-bottom: -55px;
    }

    .timer h1 {
        font-size: 60pt;
    }

    .timer button {
        font-size: 12pt;
        padding: 13px;
    }
    
    .timer input[type='text'] {
        font-size: 11pt;
    }
}